<!doctype html>
<html>

<head>
    <title>MoneyABC's LOGIN</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 120px;
        }
    </style>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- one drive CDN -->
    <script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>


    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap-tour.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/image-picker.css">
    <link href="css/hopscotch.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/notify.css">
    <!-- //js -->
</head>

<body  ng-app="moneyabcs" ng-controller="moneycontroller" class="ng-cloak">



<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" id="logo" ui-sref="home"><img src="images/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-money">
                <li class="dropdown">
                    <a showpage="default" href="../" ng-click="showpagefunc($event)"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../" ng-click="showpage='aboutUS' ">About Us</a></li>
                        <li><a href="../" ng-click="showpage='contactUS' ">Contact Us</a></li>
                    </ul>
                </li>
                <li class=""><a href="../" showpage="student" ng-click="showpagefunc($event)">Student</a></li>
                <li class=""><a href="../" showpage="educator" ng-click="showpagefunc($event)">Educator</a></li>
                <li><a href="../" showpage="supportflp" ng-click="showpagefunc($event)">Support FLP</a></li>
                <li ng-if="(uName != undefined) && (uName != '')"><a href="/dashboard">Dashboard</a></li>

            </ul>
            <!--<form class="navbar-form navbar-left nav-money">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->


            <ul class="nav navbar-nav navbar-right nav-money marginTop8">

                <div id="login" ng-show="!logInFlag">

                    <a type="button" class="btn btn-default btn-round"  href="/login">Log in </a> <a type="button" class="btn btn-primary btn-round" href="/signup" id="signup">Sign up</a>

                </div>
                <li ng-if="(uName != undefined) && (uName != '')">
                    <ul class="nav navbar-nav navbar-right" style="padding-bottom: 0%;padding-top: 0%;">
                        <div class="dropdown">
                            <span style="color: #9d9d9d;">Hi,</span>
                            <a class="dropdown-toggle"
                               data-toggle="dropdown">{{uName}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a showpage="profile" ng-click="showpagefunc($event)">Profile</a></li>
                                <li><a showpage="saved articles" ng-click="showpagefunc($event)">Saved Articles</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logOutProfile()">Sign Out</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left nav-money"  role="search" >
                <div class="top-search-bar">
                    <div class="input-group" id = "group-key">
                        <div class="input-group-btn search-panel" ng-init="searchType='All'">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search: {{searchType}}<span class="caret"></span></button>

                            <ul class="dropdown-menu" role="menu">

                                <li ng-click="setSearch('Articles'); searchType='Articles'"><a href="#id" ><i class="fa fa-angle-double-right"></i>Articles</a></li>
                                <li ng-click="setSearch('Presentation');searchType='Presentations'"><a href="#name" ><i class="fa fa-angle-double-right"></i>Presentations</a></li>
                                <li ng-click="setSearch('Video'); searchType='Videos'"><a href="#videos" ><i class="fa fa-angle-double-right"></i>Videos</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="name" id="search_param">
                        <input type="text" id="search-key" class="form-control search1" placeholder="What are you looking for? (e.g. Credit Scores) " autocomplete="off">
                        <div class="input-group-btn">
                            <button id="search1_btn" ng-click="searchArticle('search1')" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  <!--  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="#"><img src="images/logo.png"></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="index.html">Home</a></li>
                    <li><a href="under_construction.html">Educators</a></li>
                    <li><a href="under_construction.html">Support Financial Literacy</a></li>
                    <li><a href="under_construction.html">About Us</a></li>
                    <li><a href="under_construction.html">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <div class="nav-buttons" id="user-buttons">
                        <a type="button" class="btn btn-default btn-round" ng-model="users.local.username" href="/login">Log in</a>
                        <a type="button" class="btn btn-primary btn-round" ng-model="users.local.password" href="/signup">Sign up</a>
                    </div>
                </ul>
            </div>
            
        </div>
        
    </nav>-->
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span></span> <center>Login</center></h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <!--<label>UserName</label>-->
                            <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <!--<label>Password</label>-->
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>

                        <button type="submit" style="background-color:  #008000;border: none;
    color: white;
    padding: 15px 32px; ">Login</button>
                    </form>

                    <hr>

                    <p>Need an account? <a href="/signup">Signup</a></p>
                    <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
</body>
<!-- for bootstrap working -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/hopscotch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-tour.js"></script>
<script src="js/tour.js"></script>
<script src="js/app.js">
</script>
<script src="js/controllers/moneycontroller.js"></script>
<script src="js/homeController.js"></script>
<script src="js/animatedModal.min.js"></script>
<script src="js/image-picker.min.js"></script>
<script src="js/image-picker.js"></script>
<!-- //for bootstrap working -->
</html>
