<!doctype html>
<html>

<head>
    <title>MoneyABC's SignUp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="js/jquery-1.11.1.min.js"></script>
      <!-- //for-mobile-apps -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" rel="stylesheet">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 120px;
        }
         [tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: ivory;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

    </style>



   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- one drive CDN -->
    <script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>


    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap-tour.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/image-picker.css">
    <link href="css/hopscotch.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/notify.css">
    <!-- //js -->
</head>

<body ng-app="moneyabcs" ng-controller="moneycontroller" class="ng-cloak">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" id="logo" ui-sref="home"><img src="images/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-money">
                <li class="dropdown">
                    <a showpage="default" href="../" ng-click="showpagefunc($event)"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../" ng-click="showpage='aboutUS' ">About Us</a></li>
                        <li><a href="../" ng-click="showpage='contactUS' ">Contact Us</a></li>
                    </ul>
                </li>
                <li class=""><a href="../" showpage="student" ng-click="showpagefunc($event)">Student</a></li>
                <li class=""><a href="../" showpage="educator" ng-click="showpagefunc($event)">Educator</a></li>
                <li><a href="../" showpage="supportflp" ng-click="showpagefunc($event)">Support FLP</a></li>
                <li ng-if="(uName != undefined) && (uName != '')"><a href="/dashboard">Dashboard</a></li>

            </ul>
            <!--<form class="navbar-form navbar-left nav-money ">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->


            <ul class="nav navbar-nav navbar-right nav-money marginTop8">

                <div id="login" ng-show="!logInFlag">

                    <a type="button" class="btn btn-default btn-round"  href="/login">Log in </a> <a type="button" class="btn btn-primary btn-round" href="/signup" id="signup">Sign up</a>

                </div>
                <li ng-if="(uName != undefined) && (uName != '')">
                    <ul class="nav navbar-nav navbar-right" style="padding-bottom: 0%;padding-top: 0%;">
                        <div class="dropdown">
                            <span style="color: #9d9d9d;">Hi,</span>
                            <a class="dropdown-toggle"
                               data-toggle="dropdown">{{uName}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a showpage="profile" ng-click="showpagefunc($event)">Profile</a></li>
                                <li><a showpage="saved articles" ng-click="showpagefunc($event)">Saved Articles</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logOutProfile()">Sign Out</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left nav-money searchbar"  role="search" >
                <div class="top-search-bar">
                    <div class="input-group" id = "group-key">
                        <div class="input-group-btn search-panel" ng-init="searchType='All'">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search: {{searchType}}<span class="caret"></span></button>

                            <ul class="dropdown-menu" role="menu">

                                <li ng-click="setSearch('Articles'); searchType='Articles'"><a href="#id" ><i class="fa fa-angle-double-right"></i>Articles</a></li>
                                <li ng-click="setSearch('Presentation');searchType='Presentations'"><a href="#name" ><i class="fa fa-angle-double-right"></i>Presentations</a></li>
                                <li ng-click="setSearch('Video'); searchType='Videos'"><a href="#videos" ><i class="fa fa-angle-double-right"></i>Videos</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="name" id="search_param">
                        <input type="text" id="search-key" class="form-control search1" placeholder="What are you looking for? (e.g. Credit Scores) " autocomplete="off">
                        <div class="input-group-btn">
                            <button id="search1_btn" ng-click="searchArticle('search1')" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  <!--  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="#"><img src="images/logo.png"></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="index.html">Home</a></li>
                    <li><a href="under_construction.html">Educators</a></li>
                    <li><a href="under_construction.html">Support Financial Literacy</a></li>
                    <li><a href="under_construction.html">About Us</a></li>
                    <li><a href="under_construction.html">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <div class="nav-buttons" id="user-buttons">
                        <a type="button" class="btn btn-default btn-round" ng-model="users.local.username" href="/login">Log in</a>
                        <a type="button" class="btn btn-primary btn-round" ng-model="users.local.password" href="/signup">Sign up</a>
                    </div>
                </ul>
            </div>
            
        </div>
        
    </nav>-->
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span></span> <center>SignUp</center></h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/signup"  name="navsearch" method="post">

                    <label style="font-weight:bold">
                     Prefix/Title: </label>
                    <div class="prefix" tooltip="Please enter a Prefix/Title that suits you">
                                <select  name="title" id="title">
                                    <option value="Mr."> Mr.</option>
                                    <option value="Mrs."> Mrs.</option>
                                    <option value="Miss"> Miss</option>
                                    <option value="Ms."> Ms.</option>
                                    <option value="Dr."> Dr.</option>
                                </select>
                                </div>
                               
                                <br> 
                        <div class="form-group " tooltip="Please enter your Firstname">
                                    
                                    <input  type="text" class="form-control" name="username" id="username" tabindex="1"   placeholder="Firstname" value="">

                                </div>
                                 <div class="form-group" tooltip="Please enter your Lastname">
                                    
                                    <input type="text"  class="form-control" name="lastname" id="lastname" tabindex="1"   placeholder="Lastname" value="">
                                </div>
                                <div class="form-group" tooltip="Please enter your Email-Address">
                                    
                                    <input type="email" class="form-control" name="email" id="email" tabindex="1" class="form-control"  placeholder="Email Address" value="">
                                </div>
                                <div class="form-group" tooltip="Please enter your Address here">
                                   
                                    <input type="address" name="address1" id="address1" tabindex="1"  class="form-control" placeholder="Address line1" value="">
                                </div>
                                <div class="form-group" tooltip="Please enter your Address here">
                                    
                                    <input type="address" name="address2" id="address2" tabindex="1" class="form-control"  placeholder="Address line2" value="">
                                </div>
                                <div class="form-group" tooltip="Please select your Country here">
                                    
                                    <select name="countries" id="countries"  class="form-control bfh-countries" tabindex="1" data-country="US" onchange="document.getElementById('countries').value=this.value;"></select>
                                </div>
                                <div class="form-group" tooltip="Please select your State here">
                                    
                                    <select name="states" id="states" class="form-control bfh-states"  onchange="document.getElementById('states').value=this.value;" tabindex="1" data-state="TX" data-country="countries">
                                        
                                    </select>
                                </div>
                                <div class="form-group" tooltip="Please enter your City here">
                                    
                                    <input type="city" name="city" id="city"  tabindex="1" class="form-control" placeholder="City" value="">
                                </div>
                                <div class="form-group" tooltip="Please enter your Zipcode here">
                                   
                                    <input type="zipcode" name="zipcode" id="zipcode"  tabindex="1" class="form-control" placeholder="Zip code" value="">
                                </div>
                                <div class="form-group" tooltip="Please enter your Phone-number here">
                                    
                                    <input type="text" class="form-control "  tabindex="1"  placeholder="(000)-000-0000" data-country="countries">
                                </div>
                                <div class="form-group"tooltip="Please select the Type of Organisation">
                                    <fieldset>
                                        <label>
                                            
                                            <select  tabindex="1"  class="form-control" name="organization"  onchange="java_script_:show(this.options[this.selectedIndex].value);">"
                                                <!--onchange="document.getElementById('organization').value=this.value;"-->
                                                <option value="">Type of organization</option>
                                                <option value="school">School</option>
                                                <option value="Regulator or government agency">Regulator or government agency</option>
                                                <option value="non-profit">non-profit</option>

                                                <option>Others</option>
                                            </select>

                                            <div id="hiddenDiv" style="display:none" tooltip="Please Select your school">
                                                <br>
                                                <label class="checkbox-inline">School</label>
                                                
                                                <select name="school">
                                                    <option value="KG">KG</option>
                                                    <option value="Elementary">Elementary</option>
                                                    <option value="Intermediate">Intermediate</option>
                                                    <option value="MiddleSchool">MiddleSchool</option>
                                                    <option value="JuniorSchool">JuniorSchool</option>
                                                    <option value="HighSchool">HighSchool</option>
                                                    <option value="CommunityCollege">CommunityCollege</option>
                                                    <option value="Four-Year-College">Four-Year-College</option>
                                                    <option value="GradSchool">GradSchool</option>
                                                    <option value="ProfessionalSchools">ProfessionalSchools</option>
                                                </select>
                                            </div>

                                            <div id="hiddenDiv1" style="display:none" tooltip="Please enter select your here">
                                                <br>
                                                
                                                <label class="checkbox-inline" id="nonprofit">non-profit</label>
                                                <select name="non-profit">
                                                    <option value="Religious">Religious</option>
                                                    <option value="Charitable">Charitable</option>
                                                    <option value="Scientific">Scientific</option>
                                                    <option value="Educational">Educational</option>
                                                    <option value="CommunityServices">CommunityServices</option>
                                                    <option value="AdvocacyGroups">AdvocacyGroups</option>

                                                </select>
                                            </div>
                                        </label>
                                    </fieldset>
                                </div>

                                <div class="form-group" tooltip="Please type your Name of Organization here">
                                    
                                    <input type="nameoforganisation" name="nameoforganisation" id="nameoforganisation" tabindex="1"  class="form-control" placeholder="Name of Organization" value="">
                                </div>

                                <div class="form-group" tooltip="Please type your Role in an  Organization here">
                                    
                                    <input type="roleinorganisation" name="roleinorganisation" id="roleinorganisation" tabindex="1"  class="form-control" placeholder="Role in Organization" value="">
                                </div>
                               <!--  <div class="form-group">
                                    <label class="checkbox-inline" name="check" id="check" onchange="document.getElementById('check').value=this.value;" style="font-weight:bold">Role in an Organization:</label>
                                    <br>&nbsp &nbsp
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Department Directory</label> &nbsp&nbsp
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Admin</label>&nbsp&nbsp&nbsp
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Instructor</label>&nbsp&nbsp&nbsp
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="">Staff</label>&nbsp&nbsp
                                </div> -->
                              <!--   <div class="form-group" tooltip="Please enter the URL to institution">
                                    
                                    <input type="url" name="url" id="url" tabindex="1"  class="form-control" placeholder="URL to Institution" value="http://www.google.com">
                                </div>
 -->

                                <div class="form-group" tooltip="Please enter the URL to institution">
                                    
                                    <input type="url2" name="url2" id="url2" tabindex="1"  class="form-control" placeholder="URL to institution" value="">
                                </div>
                                 <div class="form-group" tooltip="Please enter the URL to profile">
                                    
                                    <input type="url1" name="url1" id="url1" tabindex="1"  class="form-control" placeholder="URL to Profile" value="">
                                </div>


                               <!--  <div class="form-group" tooltip="Please select your Role within the  Organization">
                                    <label>
                                        
                                        <select class="form-control" name="organization" onchange="document.getElementById('rolewithinorganization').value=this.value;">
                                            <option value=""><label>Role within organization</label></option>
                                            <option>Director</option>
                                            <option>CEO</option>
                                            <option>President</option>
                                            <option>Dean</option>
                                            <option>Supervisor</option>
                                        </select>
                                    </label>
                                </div> -->
                                <div class="form-group" tooltip="Please select a password for your account">
                                    
                                    <input type="password" name="password" id="password" tabindex="2"  class="form-control" placeholder="Password">
                                </div>
                       <div class="form-group" tooltip="Please confirm your password">
                                    
                                    <input type="password" name="confirmpassword" id="confirmpassword"  tabindex="2" class="form-control" placeholder="Confirm Password">
                        </div>
                      <div class="g-recaptcha" id="g-recaptcha-response" data-sitekey="6LftDyMTAAAAAEjRmrZAkYLks2XBsjPfEWeIU7C3"></div><br>
                        <button type="submit" name="register-submit" id="register-submit" style="background-color: #008000;border: none;
    color: white;
    padding: 15px 32px; ">SignUp</button>
   <!-- <button type="submit" name="register-submit" id="register-submit" style="background-color: #008CBA;border: none;
    color: white;
    padding: 15px 32px; " href="/signup">Sign up</button> -->
                    </form>

                    <hr>

                    <p>Need an account? <a href="/signup">Signup</a></p>
                    <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
    <section>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer">
            <div class="container-fluid">
                <p>Copyright © 2016 Money ABCs. All Rights Reserved | Design by MoneyABCs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Follow us on:
                    <a href="https://www.facebook.com/Moneyabcs-1795814797370838/ " target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="https://twitter.com/moneyabcs_uta" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="https://www.instagram.com/moneyabcs_uta/" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="#" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span> </a>
                </p>
            </div>
        </div>
    </div>
</section>
</body>
<!-- for bootstrap working -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/hopscotch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-tour.js"></script>
<script src="js/tour.js"></script>
<script src="js/app.js">
</script>
<script src="js/controllers/moneycontroller.js"></script>
<script src="js/homeController.js"></script>
<script src="js/animatedModal.min.js"></script>
<script src="js/image-picker.min.js"></script>
<script src="js/image-picker.js"></script>
<!-- //for bootstrap working -->
</html>
